:root{
      --background-color: black;
      --font-color: white;
      --primary-color: #1f1f1e;
      --secondary-color:#cebd63;
      --main-font: 'Montserrat', sans-serif;
          --space-1: 0.25rem;
  --space-2: 0.5rem;  
  --space-4: 1rem;    
  --space-8: 2rem;
}